@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Merriweather+Sans:wght@300;400&display=swap');
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Merriweather Sans", sans-serif;   
}


/* Navbar-Css */

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.hamburger {
    display: none;
}

.navbar>ul {
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;
    list-style-type: none
}

.navbar>ul>li:first-child{
    font-weight: 600;
    color: black;
}

.navbar>ul>li {
    cursor: pointer;
    font-weight: 500;
    color:gray;
}

.navbar>ul>li:hover {
    color: rgb(174, 212, 212);
}

.company_logo {
    width: 12vw;
    cursor: pointer;
}

.navbar_options {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}

.navbar_options>a {
    text-decoration: none;
    color: #00a8b6;
}

.navbar_options>a>span {
    margin-right: 1rem;
}

.user_contact {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user_contact>button {
    background-color: #00a8b6;
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: none;
}
.user_contact>button:hover{
    background-color: #058a96;
    cursor: pointer;
}

.user_contact>div {
    border: 1px solid black;
    padding: 0.5rem 1.1rem;
}

/* Image-Css */


.image_container {
    position: relative;
    overflow: hidden;
    height: 72.5vh;
}

.image_container>div {
    position: absolute;
    top: 28%;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 45%;
    left: 27%;
    padding: 20px 0;
    text-align: center;
}

.image_container>img{
    object-fit: cover;
}

.image_container>div>h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.image_container>div>button {
    border-radius: 3px;
    font-weight:lighter;
    font-size: medium;
    color:#f1f1f1 ;
    background-color:rgb(0, 166, 181);
    padding: 10px;
    border: none;
    
}

.image_container>div>button:hover {
   
    background-color:rgb(22, 124, 134);
    cursor: pointer;   
}

/* Footer-Css */

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color:#373e3e;
    color: white;
    height: 100px;
    font-weight: 200;
}

.footer>div>i{
    font-size: 25px;
}
.footer>div>i:nth-child(1){
    margin-right: 12px;
}
.footer>div>i:nth-child(2){
    margin-right: 12px;
}

.footer>div:hover{
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width:840px){
    .image_container>div{
        width: 50%;
        left: 24%;
    }

    .navbar>ul {
        display: none;
    }

    .company_logo {
        width: 30vw;
    }

    .navbar_options>a>span {
        display: none;
    }

    .navbar .user_contact {
        display: none;
    }

    .hamburger {
        display: inline-block;
    }
}
@media screen and (max-width:650px){
    .image_container>div{
        width: 55%;
        left: 21%;
        padding: 20px 10px;
    }
    .footer>div>p,i{
       font-size: 15px;
    }
    

}
@media screen and (max-width:530px){
    .image_container>div{
        width: 60%;
        left: 17%;
        padding: 30px 10px;
    }
    .image_container>div>h1 {
        font-size: 2.5rem;
    }
    .footer>div>p{
        font-size: 13px;
     }
    .footer>div>i{
        font-size: 17px;
    }
}

@media screen and (max-width:450px){
    .footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .footer>div{
        align-self: center;
        justify-self: center;
    }
    .footer>div:nth-child(4){
        align-self: center;
        justify-self: end;

    }
    .footer>div:nth-child(5){
        align-self: center;
        justify-self: end;
        margin-left: 10%;
    }
    body{
        overflow: hidden;
    }
}


